<div class="container">
    <div class="row justify-content-center">
        <div id="perfilUsuario" class="col-sm-10 col-md-8 mt-5 py-2">
            <div class="row justify-content-around">
                <div id="infoUsuario" class="col-sm-6 text-center">
                    <h1 id="usuario" >Usuario - {{username}}</h1>
                    <p id="nombreUsuario">Nombre - {{name}}</p>
                    <p id="emailUsuario">Email - {{email}}</p>
                    <p [hidden]="admin"> Admin </p>
                </div>
            </div>

            <div [hidden]="admin" class="mt-3 row">
                <div class="col text-center">
                    <button (click)="addProduct()">Añadir producto</button>
                </div>

                <div class="col text-center">
                    <button (click)="productList()">Lista de productos</button>
                </div>
            </div>
        </div>
    </div>
</div>