<div class="container">
    <div class="row justify-content-center">
        <div id="perfilUsuario" class="col-sm-10 col-md-8 mt-5 py-2">
            <div class="row justify-content-around">
                <div id="imgUsuario" class="col-sm-6 text-center ">
                    <img src="images/user.png" alt="">
                </div>
                <div id="infoUsuario" class="col-sm-6 text-center">
                    <h1 id="usuario">Nombre usuario</h1>
                    <p id="nombreUsuario">Nombre</p>
                    <p id="emailUsuario">Email</p>
                </div>
            </div>
        </div>
    </div>
</div>