<div class="center-screen">
    <div class="formulario">
        <form>
            <div class="tituloFormulario">
                <h2>Añadir producto</h2>
            </div>
            <mat-form-field class="" appearance="fill">
                <mat-label>Nombre del producto</mat-label>
                <input matInput placeholder="Nombre del producto" >
            </mat-form-field>
            <br>
            <mat-form-field class="" appearance="fill">
                <mat-label>Precio</mat-label>
                <input matInput type="text" name="price" placeholder="Precio">
            </mat-form-field>
            <br>
            <mat-form-field class="" appearance="fill">
                <mat-label>Descripcion</mat-label>
                <textarea matInput name="description" id="" cols="30" rows="10" placeholder="Descripcion"></textarea>        
            </mat-form-field>

        </form>
    </div>
</div>