<div class="container-fluid bg-dark">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my5-4 border-top">
        <div class="col-md-4 d-flex align-items-center">
            <span class="text-muted">© 2022 Paula Love Designer</span>
        </div>

        <div class="col-md-4 text-center">
            <a class="text-decoration-none sobremi" [routerLink]="['aboutMe']">Sobre mi</a>
        </div>

        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
            <li class="ms-3">
                <a class="footerNav" href="https://instagram.com/paulalovedesigner?utm_medium=copy_link">
                    <i class="fab fa-instagram fa-lg"></i>
                </a>
            </li>
            <li class="ms-3"><a class="footerNav" href="#"></a></li>
            <li class="ms-3"><a class="footerNav" href="#"></a></li>
        </ul>
    </footer>
</div>