<div class="center-screen">
    <div class="formulario">
        <div class="tituloFormulario">
            <h2>Iniciar sesion</h2>
        </div>
        <div class="infoFormulario">
        <form name="formulario" id="formulario">
            <mat-form-field class="" appearance="fill">
                <mat-label>Usuario</mat-label>
                <input matInput type="text" name="usuario" id="usuario" [(ngModel)]="username">
            </mat-form-field>
            <br>
            <mat-form-field class="" appearance="fill">
                <mat-label>Contraseña</mat-label>
                <input matInput type="password" name="contrasena" id="contrasena" [(ngModel)]="password">
            </mat-form-field>
            <br>
            <input type="button" class="formbtn" id="volver" onclick="location.href='index.html'" value="Volver">
            <button name="submit" class="formbtn" (click)="loginUser()" id="submit">Enviar</button>
        </form>
        <div id="errores"></div>
        </div>
    </div>
</div>