<div class="center-screen">
    <div class="formulario">
        <div class="tituloFormulario">
            <h2>Iniciar sesion</h2>
        </div>
        <div class="infoFormulario">
        <form name="formulario" id="formulario">
            <label for="usuario">Usuario </label>
            <br>
            <input type="text" name="usuario" id="usuario" [(ngModel)]="username">
            <br>
            <label for="contrasena">Contraseña </label>
            <br>
            <input type="password" name="contrasena" id="contrasena" [(ngModel)]="password">
            <br>
            <br>
            <input type="button" id="volver" onclick="location.href='index.html'" value="Volver">
            <button name="submit" (click)="loginUser()" id="submit">Enviar</button>
        </form>
        <div id="errores"></div>
        </div>
    </div>
</div>